.quantityWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #634c9f;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    padding: 0px;
}
.btn:hover {
    opacity: 0.9;
}
.display {
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    pointer-events: none;
}