.categoryWrapper {
    width: 100%;
    padding-top: 61px;
    padding-bottom: 63px;
}
.categoryContainer {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
.categoryBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categoryImage {
    max-width: 122px;
    margin-bottom: 7px;
}
.cartegoryTitle {
    margin: 0;
    font-size: 13px;
    line-height: 15.6px;
    letter-spacing: -0.26px;
    font-weight: 700;
    text-align: center;
}
.categoryLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}