.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    transition: 0.3s ease-in-out;
    z-index: 1;
}
.headerWrapper.collapsed {
    padding-left: 300px;
}
.navbarWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}
.headerSearch {
    min-width: 400px;
    position: relative;
}
.headerSearch i {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #aaa;
}
.headersearchInput {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding-right: 17px;
    padding-left: 40px;
    outline: none;
    border-radius: 5px;
    color: #312617;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.headersearchInput:focus {
    border-color: #032024;
}
.headersearchInput::placeholder {
    color: #aaa;
}
.headerContent {
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerBtn {
    font-size: 20px;
    color: #aaa;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}
.headerBtn.active {
    color: #032024;
}
.alertDot {
    position: absolute;
    background-color: #dc2f2f;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: -5px;
    right: 0;
    animation: opacity 0.8s linear infinite alternate;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sidebarToogler {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.bar {
    background-color: #032024;
    width: 30px;
    height: 3px;
    border-radius: 60px;
}