.formCheck {
    position: relative;
    margin-bottom: 15px;
}
.checkInput {
    display: none;
}
.checkLabel {
    font-size: 12px;
    line-height: 18px;
    font-family: "Inter", sans-serif;
    user-select: none;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
}
.checkLabel img {
    position: absolute;
    max-width: 100%;
    top: -2px;
    left: 0;
}