.bannerWrapper {
    position: relative;
    width: 100%;
}
.bannerBox {
    position: relative;
}
.bannerImage {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.bannerContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: 10;
}
.bannerContainer {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
.banerCol {
    width: 50%;
}
.tag {
    display: inline-block;
    background: linear-gradient(to right, rgba(22, 163, 74, 0.5) 0%, rgba(34,197,94,0) 60%);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -0.32px;
    color: #166534;
    border-radius: 6px;
}
.bannerHeading {
    display: block;
    font-size: 58px;
    line-height: 63.8px;
    letter-spacing: -1.4px;
    color: #39245F;
    font-weight: 700;
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: 6.5px;
}
.bannerText {
    margin: 0px;
    margin-bottom: 40px;
}
.bannerBtn {
    display: inline-flex;
    min-width: 135px;
    min-height: 42px;
    padding: 5px;
    background-color: #634C9F;
    border-radius: 8px;
    border: 1px solid #634C9F;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.28px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.bannerBtn:hover {
    background-color: transparent;
    color: #634C9F;
}
@media only screen and (max-width: 1500px) {
    .bannerImage {
        height: 540px;
    }
    .bannerHeading {
        font-size: 54px;
        line-height: 59.8px;
    }
}
@media only screen and (max-width: 1300px) {
    .bannerImage {
        height: 468px;
    }
    .bannerHeading {
        font-size: 50px;
        line-height: 55.8px;
    }
}
@media only screen and (max-width: 1000px) {
    .bannerImage {
        height: 360px;
    }
    .bannerHeading {
        font-size: 35px;
        line-height: 40.8px;
    }
}
@media only screen and (max-width: 900px) {
    .banerCol {
        width: 60%;
    }
    .bannerImage {
        height: 360px;
    }
    .bannerHeading {
        font-size: 30px;
        line-height: 35.8px;
    }
    .bannerText {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 650px) {
    .banerCol {
        width: 65%;
    }
    .bannerImage {
        height: 340px;
    }
    .bannerHeading {
        font-size: 25px;
        line-height: 30.8px;
    }
    .bannerText {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .banerCol {
        width: 75%;
    }
    .bannerImage {
        height: 300px;
    }
    .bannerHeading {
        font-size: 20px;
        line-height: 25.8px;
    }
    .bannerText {
        margin-bottom: 10px;
    }
    .bannerBtn {
        min-height: 30px;
        min-width: 120px;
    }
}